/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 60px; /* Vertically center the text there */
  background-color: rgba(127, 118, 112, 0.99);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 10%;
  padding-left: 10%;
  color:white;

}

.footer > .container > .row{
  padding-top: 2%;
}
code {
  font-size: 80%;
}

.fa {
    padding: 2%;
    font-size: 40%;
    width: 20%;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    color: white;
}

/* LinkedIn */
.fa-linkedin {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa-google {
    color: white;
}
