



@media only screen
and (min-width: 768px)
and (max-width: 991.98px) {
  div.col-xs-12{


  margin-top: 8rem;
}

}

@media only screen
and (min-width: 992px)
and (max-width: 1198.98px) {
  div.col-xs-12{

  
  margin-top: 7rem;
}

}












.fa {
    padding: 2%;
    font-size: 40%;
    width: 20%;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    color: white;
}

/* LinkedIn */
.fa-linkedin {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa-google {
    color: white;
}
